<%- include('partials/head') %>


<body>
	<!-- Page content -->
	<%- include('partials/nav') %>

	<main>
		<!-- Page header -->
		<section class="py-lg-6 py-4 bg-primary">
			<div class="container">
				<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<div>
					<h1 class="text-white display-4 mb-0">Bienvenido</h1>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!-- Content -->


		<section class="py-8">
			<div class="container">
			  <div class="row">
				<div class="col-xl-12 col-md-12 mb-6 mb-md-0">
				  <div class="row align-items-center mb-4">
					<div class="col">
					  <h2 class="mb-0">Lista de cursos</h2>
					</div>
				  </div>
		
				  <div class="row">
					<!-- card -->
					<div class="col-lg-6 col-12 mb-4">
					  	<div class="card card-bordered card-hover cursor-pointer h-100">
							<!-- card body -->
							<div class="card-body">
								<!-- text -->
								<div class="w-100 mt-3">
									<div class="d-flex justify-content-between mb-4">
			
										<div>
											<h3 class="mb-1 fs-4">
												<a href="#" class="text-inherit">Nombre del curso</a>
												<span class="badge bg-success-soft">Activo</span>
											</h3>
											<div>
												<span>Descripcion del curso: loren ipsu</span>
											</div>
										</div>
									</div>
						  		</div>
								<div>
									<div class="mb-4">
										<div class="mb-2 mb-md-0">
											<div class="mt-1"> 
												<i class="fe fe-briefcase text-muted"></i><span class="ms-1">Sin experiencia</span>
											</div>
											<div class="mt-1">
												<i class="fe fe-dollar-sign text-muted"></i><span class="ms-1">Gratuito</span>
											</div>
											<div class="mt-1">
												<i class="fe fe-map-pin text-muted"></i><span class="ms-1">Virtual</span>
											</div>
											<div class="mt-1">
												<i class="fe fe-clock text-muted"></i><span class="ms-1">24 horas</span>
											</div>
										</div>
									</div>
								</div>
							</div>
					  	</div>
					</div><!-- End card -->

					<!-- card -->
					<div class="col-lg-6 col-12 mb-4">
						<div class="card card-bordered card-hover cursor-pointer h-100">
						  <!-- card body -->
						  <div class="card-body">
							  <!-- text -->
							  <div class="w-100 mt-3">
								  <div class="d-flex justify-content-between mb-4">
		  
									  <div>
										  <h3 class="mb-1 fs-4">
											  <a href="#" class="text-inherit">Nombre del curso</a>
											  <span class="badge bg-success-soft">Activo</span>
										  </h3>
										  <div>
											  <span>Descripcion del curso: loren ipsu</span>
										  </div>
									  </div>
								  </div>
								</div>
							  <div>
								  <div class="mb-4">
									  <div class="mb-2 mb-md-0">
										  <div class="mt-1"> 
											  <i class="fe fe-briefcase text-muted"></i><span class="ms-1">Sin experiencia</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-dollar-sign text-muted"></i><span class="ms-1">Gratuito</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-map-pin text-muted"></i><span class="ms-1">Virtual</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-clock text-muted"></i><span class="ms-1">24 horas</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						</div>
				  </div><!-- End card -->

				  <!-- card -->
					<div class="col-lg-6 col-12 mb-4">
						<div class="card card-bordered card-hover cursor-pointer h-100">
						  <!-- card body -->
						  <div class="card-body">
							  <!-- text -->
							  <div class="w-100 mt-3">
								  <div class="d-flex justify-content-between mb-4">
		  
									  <div>
										  <h3 class="mb-1 fs-4">
											  <a href="#" class="text-inherit">Nombre del curso</a>
											  <span class="badge bg-success-soft">Activo</span>
										  </h3>
										  <div>
											  <span>Descripcion del curso: loren ipsu</span>
										  </div>
									  </div>
								  </div>
								</div>
							  <div>
								  <div class="mb-4">
									  <div class="mb-2 mb-md-0">
										  <div class="mt-1"> 
											  <i class="fe fe-briefcase text-muted"></i><span class="ms-1">Sin experiencia</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-dollar-sign text-muted"></i><span class="ms-1">Gratuito</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-map-pin text-muted"></i><span class="ms-1">Virtual</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-clock text-muted"></i><span class="ms-1">24 horas</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						</div>
				  </div><!-- End card -->

				  <!-- card -->
					<div class="col-lg-6 col-12 mb-4">
						<div class="card card-bordered card-hover cursor-pointer h-100">
						  <!-- card body -->
						  <div class="card-body">
							  <!-- text -->
							  <div class="w-100 mt-3">
								  <div class="d-flex justify-content-between mb-4">
		  
									  <div>
										  <h3 class="mb-1 fs-4">
											  <a href="#" class="text-inherit">Nombre del curso</a>
											  <span class="badge bg-success-soft">Activo</span>
										  </h3>
										  <div>
											  <span>Descripcion del curso: loren ipsu</span>
										  </div>
									  </div>
								  </div>
								</div>
							  <div>
								  <div class="mb-4">
									  <div class="mb-2 mb-md-0">
										  <div class="mt-1"> 
											  <i class="fe fe-briefcase text-muted"></i><span class="ms-1">Sin experiencia</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-dollar-sign text-muted"></i><span class="ms-1">Gratuito</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-map-pin text-muted"></i><span class="ms-1">Virtual</span>
										  </div>
										  <div class="mt-1">
											  <i class="fe fe-clock text-muted"></i><span class="ms-1">24 horas</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						</div>
				  </div><!-- End card -->

				  </div>
		
				</div>
		
			  </div>
		
			</div>
		  </section>



  	</main>
	<!-- Footer -->
	<!-- Footer -->
	<%- include('partials/footer') %>
  


  <!-- Scripts -->
  <%- include('partials/scripts') %>



</body>

</html>