
<%- include('partials/head') %>
<body>
  <!-- Page content -->
<main>
  <section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">

      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4 text-center">
              <h1 class="mb-1 fw-bold">Ingresar</h1>
              <span>¿No tienes cuenta? <a href="/register" class="ms-1">Registrarme</a></span>
            </div>
            <!-- Form -->
            <form>
              	<!-- Username -->
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email address here"
                  required>
              </div>
              	<!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="**************"
                  required>
              </div>
              	<!-- Checkbox -->
              <div class="d-lg-flex justify-content-between align-items-center mb-4">
                <div>
                  <a href="/forget-password">Olvidé mi contraseña</a>
                </div>
              </div>
              <hr>
              <div>
                	<!-- Button -->
                  <div class="d-grid">
                <button type="submit" class="btn btn-primary ">Sign in</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
  <!-- Scripts -->
  <%- include('partials/scripts') %>



</body>

</html>