<!DOCTYPE html>
<html lang="en">

<head>  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Codescandy">

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">


<!-- Libs CSS -->
<link href="css/feather.css" rel="stylesheet">
<link href="css/bootstrap-icons.css" rel="stylesheet" />
<link href="css/materialdesignicons.min.css" rel="stylesheet" />
<link href="css/simplebar.min.css" rel="stylesheet">




<!-- Theme CSS -->
<link rel="stylesheet" href="css/theme.min.css">
  <title> SISTEMA DE INTELIGENCIA DEL C5I </title>
</head>