<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="./"><img src="../assets/images/brand/logo/logo.svg" alt="" class="" ></a>
        <!-- Mobile view nav wrap -->
        <ul class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap">

            <li class="dropdown ms-2">
                <a class="rounded-circle" href="#" role="button" data-bs-toggle="dropdown">
                      <div class="icon-shape bg-light text-secondary icon-md rounded-circle me-2">
                          FM
                      </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div class="dropdown-item">
                        <div class="d-flex">
                              <div class="icon-shape bg-light text-secondary icon-md rounded-circle me-2">
                                  FM
                              </div>
                              <div class="ms-3 lh-1">
                                  <h5 class="mb-1">Fabio</h5>
                                  <p class="mb-0 text-muted">fmunoz@empresa.com</p>
                              </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li><a class="dropdown-item" href="#"><i class="fe fe-user me-2"></i>Perfil</a></li>
                        <li><a class="dropdown-item" href="/seguridad"><i class="fe fe-settings me-2"></i>Seguridad</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li><a class="dropdown-item" href="/logout"><i class="fe fe-power me-2"></i>Salir</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Button -->
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="nav-link" href="./">Principal</a></li>
                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarLanding" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Migración
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarLanding">
                          <li></li><h4 class="dropdown-header">Migración</h4></li>
                          <li><a href="login" class="dropdown-item">#</a></li>
                          <li><a href="#" class="dropdown-item">#</a></li>
                      </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Decomisos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarPages">
                          <li><h4 class="dropdown-header">Decomisos</h4></li>
                            <li><a class="dropdown-item" href="#">Productos comestibles</a></li>
                            <li><a class="dropdown-item" href="#">Medicamentos y Cosméticos</a></li>
                            <li><a class="dropdown-item" href="#">Bebidas Alcoholicas y Energisantes</a></li>
                            <li><a class="dropdown-item" href="#">Cigarrillos</a></li>
                            <li><a class="dropdown-item" href="#">Combustible</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuración
                    </a>
                    <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarAccount">
                        <li><h4 class="dropdown-header">Configuración</h4></li>
                        <li><a class="dropdown-item" href="/seguridad">Seguridad</a></li>
                        <li><a class="dropdown-item" href="/notificaciones">Notificaciones</a></li>
                    </ul>
                </li>
            </ul>
            <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
                <span class="position-absolute ps-3 search-icon"><i class="fe fe-search"></i></span>
                <input type="search" class="form-control ps-6" placeholder="Buscar usuarios" >
            </form>
            <div class="ms-auto d-flex align-items-center">
                  <a href="#" class="form-check form-switch theme-switch btn btn-light btn-icon rounded-circle ">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                  </a>


            <ul class="navbar-nav navbar-right-wrap ms-2 d-none d-lg-block">

                <li class="dropdown ms-2 d-inline-block">
                    <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <div class="icon-shape bg-light text-secondary icon-md rounded-circle me-2">
                            FM
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                  <div class="icon-shape bg-light text-secondary icon-md rounded-circle me-2">
                                      FM
                                  </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1">Fabio Munoz</h5>
                                    <p class="mb-0 text-muted">fmunoz@c5iffaa.gob.do</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li><a class="dropdown-item" href="#"><i class="fe fe-user me-2"></i>Perfil</a></li>
                            <li><a class="dropdown-item" href="/seguridad"><i class="fe fe-settings me-2"></i>Seguridad</a></li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li><a class="dropdown-item" href="/logout"><i class="fe fe-power me-2"></i>Salir</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</nav>